﻿@model DataAccess.Model.KnihovnaUser

@{
    ViewBag.Title = "Index";
}

<h2>Přihlášení</h2>


@if (TempData["error"] != null)
{
    <p>@TempData["error"]</p>
}
@using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <fieldset>
        <legend class="bold">Přihlášení</legend>
        @Html.Label("Zadejte prosím vaše uživatelské jméno a heslo.", new { @class = "col-form-label" })
        @Html.LabelFor(x=>x.Login,"Login:", new {placeholder="Uživatelské jméno", @class = "col-form-label" })
        @Html.TextBoxFor(x => x.Login, new{@class="form-control"})
        @Html.LabelFor(x=>x.Password, new{@class="col-form-label"})
        @Html.PasswordFor(x=>x.Password, new{placeholder="Heslo", @class="form-control"})
    </fieldset>
    <fieldset>
        <input type="submit" value="Přihlásit" class="btn-primary mt-3"/>
    </fieldset>
}


