﻿
<h2>Výpis</h2>
    <div class="container">
        <p>Vypis</p>
    </div>
    <div class="container">
        <!-- Akce níže mi vygeneruje odkaz na kontroller Home a akci Index. Používám ji proto, abych nemusel všude
            vypisovat a přepisovat ručně všechny možné odkazy v  případě změny kontrolleru.-->
    <a href="@Url.Action("Index", "Home")">Home</a>
    </div>
