﻿@model DataAccess.Model.KnihovnaUser

@{
    ViewBag.Title = "Index";
    Layout = null;
}

@if (Model.Role.Identificator == "knihovnik")
{
    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Books")">Správa knih</a></li>
}
else if (Model.Role.Identificator == "ctenar")
{
    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Books")">Knihy</a></li>
}

<li class="nav-item"><a class="nav-link" href="@Url.Action("Logout","Login")">Odhlášení</a></li>


