﻿@model DataAccess.Model.Book

@{
    ViewBag.Title = "Create";
}

<h2>Nová kniha</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("Add", "Books", FormMethod.Post, new { @class = "form-horizontal", enctype="multipart/form-data" }))
{
    <fieldset class="form-group">
        @Html.LabelFor(x=>x.Name, "Název knihy:", new{@class="col-form-label"})
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
        @Html.LabelFor(x=>x.Author,"Autor:", new {@class="col-form-label"})
        @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Author)
        @Html.LabelFor(x=>x.PublishedYear,"Rok vydání", new {@class="col-form-label" })
        @Html.TextBoxFor(x => x.PublishedYear, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PublishedYear)
        @Html.LabelFor(x=>x.Description,"Popis:", new {@class="col-form-label"})
        @Html.TextAreaFor(x=>x.Description, new {@class="form-control formatedtext" })
        @Html.Label("Kategorie : ", new{@class="col-form-label"})
        @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories,"Id","Name"), new{@class="form-control"})
    </fieldset>
    <fieldset class="form-group">
    @Html.Label("Obrázek: ", new {@class= "col-form-label" })
   <input type ="file" name="picture">
</fieldset>
<fieldset class="form-group">
<input type="submit" class="btn btn-primary">
</fieldset>
}
<script src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")"></script>
<script>tinymce.init({selector: '.formatedtext'})</script>