﻿@model DataAccess.Model.Book
@{
    ViewBag.Title = "Detail";
}

<h2>Detail knihy @Model.Name</h2>
<p>Autor: @Model.Author</p>
<p>Rok Vydání: @Model.PublishedYear</p>

@Html.Raw(Model.Description)

<a class="page-link" href="@Url.Action("Index","Books")">Zpět</a>

@section sidebar
{
    <h3>Chcete knihu @Model.Name s 10% slevou? Objednejte nyní!!!!!</h3>
    }
