﻿@model DataAccess.Model.Book

@{
    ViewBag.Title = "Edit";
}

<h2>@Model.Name – Editace</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("Update", "Books", FormMethod.Post, new { @class = "form-horizontal", enctype="multipart/form-data" }))
{
    @Html.HiddenFor(x=>x.Id)
    @Html.HiddenFor(x=>x.ImageName)
    <fieldset class="form-group">
        @Html.LabelFor(x=>x.Name, "Název knihy:", new{@class="col-form-label"})
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
        @Html.LabelFor(x=>x.Author,"Autor:", new {@class="col-form-label"})
        @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Author)
        @Html.LabelFor(x=>x.PublishedYear,"Rok vydání", new {@class="col-form-label" })
        @Html.TextBoxFor(x => x.PublishedYear, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PublishedYear)
        @Html.LabelFor(x=>x.Description,"Popis:", new {@class="col-form-label"})
        @Html.TextAreaFor(x=>x.Description, new {@class="form-control formatedtext" })
        @Html.Label("Kategorie : ", new{@class="col-form-label"})
        @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories,"Id","Name",Model.Category.Id), new{@class="form-control"})
    </fieldset>
    <fieldset class="form-group">
        @Html.Label("Obrázek: ", new {@class= "col-form-label" })
        <input type ="file" name="picture">
        @if (string.IsNullOrEmpty(Model.ImageName))
        {
            <img src="@Url.Content("~/Uploads/Books" + Model.ImageName)" class="image img-fluid">
        }
    </fieldset>
    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary" value="Upravit knihu">
    </fieldset>
}
<script src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")"></script>
<script>tinymce.init({selector: '.formatedtext'})</script>