﻿@using DataAccess.Model
@model IList<Book>
@{
    ViewBag.Title = "IndexCtenar";  
}
<p>Dnes je: @ViewBag.Datum</p>
<h1>Výpis knih v knihovně</h1>
<div class="clearfix"></div>
<div class="panel">
    @using(Html.BeginForm("Search", "Books", FormMethod.Post,new{@class="form-inline mb-3"})){
        <fieldset class="mce-fieldset">
            <input type="text" class="form-control" placeholder="Vyhledat knihu" name="phrase"/>
            <input type="submit" class="button btn-sm ml-3" value="Hledat"/>
        </fieldset>
    }
</div>
<div class="panel">
    @if (ViewBag.Categories != null)
    {
        foreach (BookCategory bc in ViewBag.Categories)
        {
            <a class="page-link" href="@Url.Action("Category", "Books", new{id=bc.Id})">@bc.Name</a>
        }
    }
</div>
<table class="table table-bordered table-hover">
    <thead class="thead-light">
    <tr>
        <th>Obrázek</th>
        <th>Id</th>
        <th>Název knihy</th>
        <th>Autor</th>
        <th>Rok vydání</th>        
    </tr>        
    </thead>
    <tbody>
    @foreach(Book book in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(book.ImageName))
                {
                    <img src="@Url.Content("~/Uploads/Book/"+book.ImageName)" class="image" alt="Obrázek knížky">
                }
            </td>
            <!--Odkaz na detaily knih jejím Id je udělán s pomocí "a" elementu.-->
            <td><a href="@Url.Action("Detail", "Books", new {id = book.Id})">@book.Id</a></td>
            <!--Odkaz na detaily knihy přes její jméno je udělán s pomocí tzv. "HTML extension".-->
            <td>@Html.ActionLink(book.Name, "Detail", "Books", new {id = book.Id, zobrazPopis = true}, new {title = book.Name})</td>
            <td>@book.Author</td>
            <td>@book.PublishedYear</td>
        </tr>
    }
    </tbody>
   
    

</table>

@if (ViewBag.Pages != null)
{
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            <!--Podmínka níže: Pokud je číslo stránky stejné, jako kterou mám zrovna načtenou, ta se označí jako aktivní.-->
            <li class="@(ViewBag.CurrentPage == i? "active" : "") "><a href="@Url.Action("Index", "Books", new {page = i})">@i</a></li>
        }         
    </ul>
}

