﻿@using DataAccess.Model
@model IList<Book>
@{
    ViewBag.Title = "Index";  
}
<p>Dnes je: @ViewBag.Datum</p>
<h1>Výpis knih v knihovně</h1>
<a href="@Url.Action("Create","Books")" class="btn btn-secondary mt-2  mb-4" title="Uložení nové knihy">Vytvořit novou knihu</a>
<div class="clearfix"></div>
<table class="table table-bordered table-hover">
    <thead class="thead-light">
    <tr>
        <th>Obrázek</th>
        <th>Id</th>
        <th>Název knihy</th>
        <th>Autor</th>
        <th>Rok vydání</th>
        <th>Akce</th>
    </tr>        
    </thead>
    <tbody>
    @foreach(Book book in Model)
    {
        <tr>
            <td>
             @if (!string.IsNullOrEmpty(book.ImageName))
             {
                 <img src="@Url.Content("~/Uploads/Book/"+book.ImageName)" class="image" alt="Obrázek knížky">
             }
            </td>
            <!--Odkaz na detaily knih jejím Id je udělán s pomocí "a" elementu.-->
            <td><a href="@Url.Action("Detail", "Books", new {id = book.Id})">@book.Id</a></td>
            <!--Odkaz na detaily knihy přes její jméno je udělán s pomocí tzv. "HTML extension".-->
            <td>@Html.ActionLink(book.Name, "Detail", "Books", new {id = book.Id, zobrazPopis = true}, new {title = book.Name})</td>
            <td>@book.Author</td>
            <td>@book.PublishedYear</td>
            <td>@Html.ActionLink("Upravit","Edit","Books",new{id=book.Id},new{@class="btn"})
                @Html.ActionLink("Smazat","Delete","Books",new{id=book.Id},new{onclick="return confirm('Opravdu si přeete smazat knihu" + book.Name +" ');", @class = "btn", })
            </td>
        </tr>
    }
    </tbody>
</table>

