﻿<h2>Druhý Index</h2>
<div><p>Toto je druhý index, Vlastního Kontrolleru.</p></div>
<div><a href="@Url.Action("Cas","Vlastni")" class="page-link">Zobrazit aktuální datum a čas.</a></div>
<div><a href="@Url.Action("NahodneCislo","Vlastni")" class="page-link">Náhodné číslo.</a></div>