﻿
@{
    Random nahoda = new Random();
    int nahodneCislo = nahoda.Next();
}

<h2>Náhodné číslo</h2>
<div>Vaše náhodně vybrané číslo je: @nahodneCislo .</div>
<a href="@Url.Action("Index","Vlastni")" class="page-link">Zpět.</a>
